.view-animate-container {
  position:relative;
  overflow:hidden;
}

.view-animate {
  
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-animate.ng-enter {
  opacity: 0;
  margin-left: 40px;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
  margin-left: 0;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
  margin-left: -40px;
}