<div class="section teal lighten-2 hide-on-med-and-down">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="header white-text">BackEnd as a Service</h1>
				<h4 class="light grey-text text-lighten-4">La solución a no ser un ingeniero de sistemas.</h4>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m9 l10">
			<p class="grey-text text-darken-4 caption">BaaS es el servicio perfecto para aquellos que queremos hacer frontend, manteniendo la persistencia de datos de nuestras aplicaciones.</p>
			<h3 class="header teal-text text-lighten-2">Qué es ?</h3>
			<p>Es un modelo para permitir que desarrolladores de aplicaciones móviles y web conecten su trabajo con un almacenamiento de Backend en la nube. También cuenta usualmente con conexiones a API's utilizados comunmente por aplicaciones de este tipo (Login con redes sociales, Ads, Analytics, Push notifications, etc.). Con un inicio en el 2011, es relativamente nuevo pero está obteniendo mucha tracción entre los usuarios.</p>
			<h3 class="header teal-text text-lighten-2">Por qué usarlo ?</h3>
			<p>Hay muchas razones por las cuales usar BaaS frente a diseñar y desarrollar un API de Backend propio: </p>
			<ul class="collection">
				<li class="collection-item">Hace uso de un SDK ya diseñado, lo que ahorra tiempo de desarrollo.</li>
				<li class="collection-item">Nos entrega una manera consistente de agregarle presistencia a nuestras aplicaciones, por lo que no tenemos que reescribir la manera como guardamos las cosas cada vez.</li>
				<li class="collection-item">Los proveedores de BaaS, suelen tener un modelo Freemium, que empieza a costar dependiendo del volumen de peticiones, por lo que es muy fácil de escalar.</li>
				<li class="collection-item">Tal vez más importante que todo lo anterior, porque nos ahorra el trabajo de hacer Backend. Y hacer Backend es horrible.</li>
			</ul>
			<p>En pocas palabras, hacer uso de BaaS nos ahorra tiempo y, en el ámbito empresarial, dinero. Es perfecto para pequeños Startups que no tienen la capacidad de contratar a alguien que se dedique a desarrollar Backend.</p>
			<h4 class="header teal-text text-lighten-2">Cuál proveedor utilizar ?</h4>
			<p>Esto es muy dependiente de nuestra aplicación. Los dos que mejor conozco personalmente, son <strong>Firebase</strong> y <strong>Parse</strong>. Ambos tienen sus puntos a favor y sus puntos en contra.</p>
			<p>Firebase es puramente BaaS, un sitio de almacenamiento en la nube que nos presta diferentes SDK's y Api's para hacer nuestro trabajo más sencillo. Parse por el otro lado, es toda una plataforma, teniendo también soporte para Push Notifications. Por esta razón, Firebase es más económico que Parse. Finalmente, Firebase tiene soporte para aplicaciones de Angular directamente por medio del módulo "AngularFire".</p>
		</div>
	</div>
</div>