<div class="section teal lighten-2 hide-on-med-and-down">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="header white-text">Ejercicio Teórico</h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m9 l10">
			<p class="grey-text text-darken-4 caption">En Javascript, entender la teoría es importante. Muchas veces nos vamos a encontrar con código que no escribimos nosotros, mal documentado y necesitamos entender qué dice ahí para poder usarlo.</p>
			<p>Para este ejercicio, volvamos al sitio web que vimos anteriormente <a class="basic" target="_blank" href="https://www.javascript.com">Javascript.com</a>. Una vez ahí, tomemos el test que nos dicen al final.</p>
			<blockquote>La dificultad de esas preguntas puede ser alta, entonces no se desanimen si no saben todas las respuestas.</blockquote>
		</div>
	</div>
</div>