<div class="section teal lighten-2 hide-on-med-and-down">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="header white-text">Ejercicio Práctico</h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m9 l10">
			<p class="grey-text text-darken-4 caption">Aprender a usar el código de otros es de vital importancia en Javascript. Y aprender a leer documentación de librerías también lo es.</p>
			<p>Para este ejercicio, vamos a construir una galería de imágenes traídas de Instagram. Para esto, vamos a hacer uso de <a href="http://instafeedjs.com/" target="blank" class="basic">InstafeedJS</a> y de <a class="basic" target="_blank" href="http://foundation.zurb.com">Foundation</a>.</p>
			<p>Su misión es crear una galería de fotos de un tag específico, que vengan de Instagram. Debe ser responsive y todas las fotos deben ser del mismo tamaño.</p>
			<blockquote>Puntos de bonus para el que además de esto le ponga la descripción a la imagen.</blockquote>
			<p>Pasos a seguir:</p>
			<ul class="collection">
				<li class="collection-item">1. Encontrar el elemento de foundation que permita hacer este tipo de galerías.</li>
				<li class="collection-item">2. Leer la documentación de instafeed.js y seguir los pasos para llamar las imágenes con un tag de su elección</li>
				<li class="collection-item">3. Cambiar el template default que usa instafeed.js por el que necesita foundation para funcionar.</li>
			</ul>
			<blockquote>Pueden descargar un inicio del ejercicio <a class="basic" href="/pasaporte/downloads/practicoJavascript_mockup.zip" download target="_blank">aquí</a>, o descargar el archivo terminado <a class="basic" href="/pasaporte/downloads/practicoJavascript.zip" download target="_blank">aquí</a>.</blockquote>
		</div>
	</div>
</div>