<div class="section teal lighten-2 hide-on-med-and-down">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="header white-text">Pasaporte HTML 5</h1>
				<h4 class="light grey-text text-lighten-4">Aprendiendo de la Web moderna paso a paso.</h4>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m9 l10">
			<p class="grey-text text-darken-4 caption">Aunque el nombre del pasaporte sea HTML 5, realmente lo que vamos a aprender es lo que es la web moderna. No van a ser expertos luego de estas 16 horas, pero sabrán mucho más que antes y dónde aprender aun más.</p>
			<h2 class="header teal-text text-lighten-2">Lo que se va a aprender</h2>
			<div class="card-panel red lighten-2">
	          <span class="white-text">Nota: Este curso supone que las personas que lo toman tienen una experiencia básica con HTML y CSS y al menos un acercamiento inicial a Javascript. Por esta razón no se va a profundizar en temas demasiado específicos de cada uno. 
	          </span>
	        </div>
			<h3 class="header teal-text text-lighten-3">HTML</h3>
			<p>La base de cualquier tipo de sitio web, todo lo que ustedes vean dentro de un navegador, contiene código HTML.</p>
			<h4 class="header teal-text text-lighten-3">Temas</h4>
			<ul class="collection">
				<li class="collection-item">Qué es ?</li>
				<li class="collection-item">HTML vs HTML5</li>
				<li class="collection-item">Recursos del desarrollador web</li>
			</ul>
			<h3 class="header teal-text text-lighten-3">CSS</h3>
			<p>Cascading Style Sheets, suele ser el desconsuelo de muchos, pero es lo que hace que la web sea bella.</p>
			<h4 class="header teal-text text-lighten-3">Temas</h4>
			<ul class="collection">
				<li class="collection-item">Qué es ?</li>
				<li class="collection-item">CSS vs CSS3</li>
				<li class="collection-item">Transiciones</li>
				<li class="collection-item">Animaciones</li>
				<li class="collection-item">Recursos CSS</li>
				<li class="collection-item">Frameworks</li>
			</ul>
			<h3 class="header teal-text text-lighten-3">Javascript</h3>
			<p>Javascript es capaz de realizar cosas asombrosas y sin duda alguna, el internet, como lo conocemos, no existiría sin él.</p>
			<h4 class="header teal-text text-lighten-3">Temas</h4>
			<ul class="collection">
				<li class="collection-item">Introducción</li>
				<li class="collection-item">Funciones</li>
				<li class="collection-item">Objetos</li>
				<li class="collection-item">JSON</li>
				<li class="collection-item">Apis</li>
			</ul>
			<h3 class="header teal-text text-lighten-3">Angular Js</h3>
			<p>Angular es un framework para la creación de aplicaciones web, basado en Javascript y en el modelo MVC</p>
			<h4 class="header teal-text text-lighten-3">Temas</h4>
			<ul class="collection">
				<li class="collection-item">Modelo MVC</li>
				<li class="collection-item">Angular Boilerplate</li>
				<li class="collection-item">Routes</li>
				<li class="collection-item">Controllers</li>
			</ul>
			<h3 class="header teal-text text-lighten-3">BaaS</h3>
			<p>Backend as a Service, es una alternativa para probar nuestras aplicaciones en un ambiente real y sin necesidad de pagar un servidor.</p>
			<h4 class="header teal-text text-lighten-3">Temas</h4>
			<ul class="collection">
				<li class="collection-item">Introducción</li>
				<li class="collection-item">Firebase vs Parse</li>
			</ul>
			<h2 class="header teal-text text-lighten-2">Lo que vamos a hacer</h2>
			<p>Una aplicación de ToDo's, creada con Bootstrap, AngularJS y usando Firebase como Backend.</p>
			<h3 class="header teal-text text-lighten-3">Día 1</h3>
			<p>El primer día, vamos a escribir el esqueleto de la aplicación. Usaremos Bootstrap como base para el CSS.</p>
			<h3 class="header teal-text text-lighten-3">Día 3</h3>
			<p>El tercer día, luego de aprender Angular, vamos a llevar nuestra aplicación a un punto en el que funcione de manera local.</p>
			<h3 class="header teal-text text-lighten-3">Día 4</h3>
			<p>Para el final del cuarto día, vamos a haber implementado Firebase, para tener una aplicación que funcione fuera del ambiente local y tenga persistencia de datos.</p>
			<h2 class="header teal-text text-lighten-2">Este website...</h2>
			<p>Este es un listado de las librerías, frameworks, plugins y software que se usó para la creación de este website.</p>
			<div class="collection">
				<a href="http://materializecss.com/" class="collection-item" target="_blank">Materialize CSS</a>
				<a href="https://angularjs.org/" class="collection-item" target="_blank">Angular JS</a>
				<a href="http://modernizr.com/" class="collection-item" target="_blank">Modernizr</a>
				<a href="http://necolas.github.io/normalize.css/" class="collection-item" target="_blank">Normalize CSS</a>
				<a href="http://prismjs.com/" class="collection-item" target="_blank">Prism JS</a>
				<a href="https://daneden.github.io/animate.css/" class="collection-item" target="_blank">Animate CSS</a>
				<a href="https://incident57.com/codekit/" class="collection-item" target="_blank">Codekit</a>
				<a href="http://www.sublimetext.com/3" class="collection-item" target="_blank">Sublime Text 3</a>
			</div>
		</div>
	</div>
</div>