<div class="section teal lighten-2 hide-on-med-and-down">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="header white-text">Todo App - Primera parte</h1>
				<h4 class="light grey-text text-lighten-4">Construir el esqueleto de una aplicación sencilla usando bootstrap.</h4>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m9 l10">
			<p class="grey-text text-darken-4 caption">Este es el inicio de nuestra aplicación, el esqueleto.</p>
			<p>El ejercicio en este caso es escribir un documento html, con un archivo css enlazado que se vea así: </p>
			<img class="responsive-img" src="img/todo-first.png" alt="">
			<p>Esta aplicación utiliza Bootstrap para la maquetación, entonces recuerden descargarlo y enlazarlo a su archivo original.</p>
			<p>Los componentes de Bootstrap que se utilizan son:</p>
			<ul class="collection">
				<li class="collection-item">Jumbotron</li>
				<li class="collection-item">Grid</li>
				<li class="collection-item">Inline-Forms</li>
			</ul>
			<blockquote class="hide-on-med-and-down">Si creen que sus habilidades de HTML y CSS no son lo suficientemente avanzadas, pueden descargar los archivos <a class="basic" href="/pasaporte/downloads/todoApp_first.zip" target="_blank" download>aquí</a>. O, si quieren descargar un template con los archivos enlazados, hagan click <a href="/pasaporte/downloads/todoApp_enlazados.zip" download target="_blank">aquí</a>.</blockquote>
		</div>
	</div>