<div class="section teal lighten-2 hide-on-med-and-down">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="header white-text">ToDo App - Segunda Parte</h1>
				<h4 class="light grey-text text-lighten-4">Volviendo el esqueleto una aplicación funcional.</h4>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m9 l10">
			<p class="grey-text text-darken-4 caption">En este paso vamos a incluirle interacción a nuestra aplicación por medio de Angular.</p>
			<h3 class="header teal-text text-lighten-2">Lo que vamos a hacer</h3>
			<p>Este es un listado de las cosas que nuestra aplicación debe poder hacer al terminar esta parte del curso:</p>
			<ul class="collection">
				<li class="collection-item">
					1. Debe llamar los diferentes ToDo's del modelo de información.
				</li>
				<li class="collection-item">
					2. Deben poder agregarse otros ToDo's al modelo de información.
				</li>
				<li class="collection-item">
					3. Deben poderse marcar como terminados nuestros ToDo's. 
				</li>
				<li class="collection-item">
					4. Los ToDo's terminados deben desaparecer de la vista, a menos que la casilla para verlos esté marcada.
				</li>
				<li class="collection-item">
					5. Debemos poder filtrar nuestro ToDo's por su nombre.
				</li>
			</ul>
			<p>Los elementos de Angular que vamos a utilizar para lograr esto serán:</p>
			<ul class="collection">
				<li class="collection-item">
					ng-repeat
				</li>
				<li class="collection-item">ng-click</li>
				<li class="collection-item">ng-model</li>
				<li class="collection-item">ng-hide</li>
				<li class="collection-item">$scope</li>
				<li class="collection-item">filters</li>
				<li class="collection-item">Views, Module, Controllers</li>
			</ul>
			<blockquote>Todo lo que empieza por ng- es una directiva, es decir, se utiliza directamente en el html.</blockquote>
			<p>Para descargar el archivo terminado, haz click <a class="basic" href="/pasaporte/downloads/todoApp_second.zip" download target="_blank">aquí</a></p>
		</div>
	</div>
</div>